:root {
    --primary-grey: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 10px;  10/16*/
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: var(--primary-grey);
}

.hero{
    max-width: 130rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

.hero-img{
    width: 100%;
}